*{
    margin: 0;
    padding: 0;
}
nav{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.nav-1{
    display: flex;
    align-items: center;
}
.nav-img{
    height: 30px;
    width: 30px;
}
.nav-1 h1{
    font-size: 30px;
    font-weight: 700;
    color: #FAB011;
}

.lists{
    display: flex;
    gap: 30px;
}
.lists a{
    list-style: none;
    text-decoration: none;
    color: black;
}
.nav-icons{
    display: flex;
    gap: 10px;
}
.nav-icons i{
    background-color: rgb(239, 239, 241);
    padding: 8px;
    border-radius: 50%;
}


/* banner style  */
.banner{
    max-width: 1400px;
    margin: 50px auto 0;
    display: flex;
    justify-content: space-between;
    padding:0 20px ;
    align-items: center;
}
.banner h3{
    font-size: 30px;
    color: #FAB011;
}
.banner-title{
    font-size: 80px;
    color: #1A2855;
    margin: 10px 0;
}
.banner-sub-title{
    font-size: 18px;
    font-weight: 800;
    max-width: 420px;
}
.banner-btn{
    color: #1A2855;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 25px;
    font-weight: bold;
    background: #FAB011;
    border: none;
    color: white;
}
.banner-btn:hover{
    background: #f0c66c;
}
.banner-img{
    width: 560px;
}


/* about style  */
.about{
    max-width: 1400px;
    margin:120px auto 0;
    display: flex;
    padding:0 20px ;
    align-items: center;
}
.about-1{
    width: 40%;
}
.about-2{
    width: 60%;
}
.about-title{
    font-size: 50px;
    margin: 15px 0;
    color: #1A2855;
}
.about-2 h3{
    font-size: 30px;
    color: #FAB011;
}

.about-img{
    max-width: 430px;
    border-radius: 10px;
}

/* carts style  */
.cart-container{
    margin: 120px 0 80px;
    background-color: #f8f7f7;
}
.carts{
    max-width: 1400px;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    padding:40px 20px ;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.carts-sub-title{
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    color: #FAB011;
}
.carts-title{
    font-size: 40px;
    text-align: center;
    color: #1A2855;
}
.cart{
    width: 400px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgb(128, 128, 128, 0.7);
    border-radius: 20px;
}
.cart:hover{
    width: 400px;
    padding: 20px;
    background-color: rgb(247, 241, 207);
    box-shadow: 0px 8px 16px 0px #FAB011;
}
.cart-image{
    position: relative;

}
.love{
    background: #e9e7e7;
    padding: 8px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    margin: 8px;

}
.cart-img{
    width: 400px;
    height: 300px;
    border-radius: 10px;

}
.cart-title{
    margin: 8px 0;
    color: #1A2855;
    font-size: 25px;
}
.stars{
    margin-top: 10px;
    margin-bottom: 6px;
    color: #FAB011;
}
.cart-btn{
    color: #1A2855;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
    background: #FAB011;
    border: none;
    color: white;
}
.add-cart{
    display: flex;
    align-items: center;
    gap: 15px;
}
.price{
    color:#FAB011;
}


/* customers say style  */
.customers{
    max-width: 1400px;
    margin: 0 auto;
    
}
.customer-reviews{
    display: flex;
    gap: 40px;
    margin-top: 70px;
}
.review-1{
    box-shadow: 0px 8px 16px 0px gray;
    padding: 20px;
}
.users-first{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.users{
    display: flex;
    align-items: center;
    gap: 15px;
}
.customer-img{
    border-radius: 50%;
    height: 70px;
}
.quote{
    font-size: 90px;
    color: gray;
}


/* services style  */
.service-container{
    margin-top: 100px;
    max-width: 1400px;
    margin: 100px auto;
    padding: 0 20px;
}
.services{
    display: flex;
    gap: 30px;
}
.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.service-title{
    margin: 15px 0;
}
.service-sub-title{
    max-width: 80%;
    text-align: center;
}


/* order style  */
.order-container{
    background-color: #f8f7f7;
    padding: 40px 0;
}
.orders{
    max-width: 1400px;
    margin: 50px auto 0;
    padding: 0 20px;

}
.order-name{
    font-size: 19px;
}
.order{
   display:flex;
   justify-content: space-between;
   gap: 80px;
   width: 1200px;
   margin: 20px auto 0;
}
.single-input{
    width: 100%;
}

.input, .message{
    width: 100%;
    padding: 15px 8px;
    border:none;
    border-radius: 5px;
    outline: none;
    margin-top: 8px;


}

/* footer style  */

.footer{
    background-color:#1A2855;
    padding: 50px 0;
    color: white;
}
.footer-container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
.footer-container h2{
    font-size: 25px;
}
.footer-container p{
    margin: 8px 0;
    font-size: 18px;
}
.contacts{
    display: flex;
    margin-top: 20px;
    gap: 20px;
}


